<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.ShoppingCartMapper">
    <!-- 查看购物车 -->
    <select id="list" resultType="com.sky.entity.ShoppingCart">
        select * from shopping_cart
        <where>
            <if test="userId != null">user_id = #{userId}</if>
            <if test="setmealId != null">and setmeal_id = #{setmealId}</if>
            <if test="dishId != null">and dish_id = #{dishId}</if>
            <if test="dishFlavor != null">and dish_flavor = #{dishFlavor}</if>
        </where>
    </select>

    <!-- 添加购物车 -->
    <insert id="insert" parameterType="com.sky.entity.ShoppingCart">
        insert into shopping_cart
        <set>
            <if test="dishId != null">dish_id = #{dishId},</if>
            <if test="setmealId != null">setmeal_id = #{setmealId},</if>
            <if test="dishFlavor != null">dish_flavor = #{dishFlavor},</if>
            <if test="image != null">image = #{image},</if>
            <if test="name!=null">name = #{name},</if>
            number = #{number},
            create_time = #{createTime},
            user_id = #{userId},
            amount = #{amount}
        </set>
    </insert>

     <!-- 更新购物车 -->
    <update id="update" parameterType="com.sky.entity.ShoppingCart">
        update shopping_cart
        <set>
            <if test="number != null">number = #{number},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="setmealId != null">setmeal_id = #{setmealId},</if>
            <if test="dishId != null">dish_id = #{dishId},</if>
            <if test="dishFlavor != null">dish_flavor = #{dishFlavor},</if>
            <if test="amount != null">amount = #{amount},</if>
        </set>
        where id = #{id}
    </update>

     <!-- 删除购物车 -->
    <delete id="delete" parameterType="com.sky.entity.ShoppingCart">
        delete from shopping_cart
        <where>
            <if test="userId != null">user_id = #{userId}</if>
            <if test="setmealId != null">and setmeal_id = #{setmealId}</if>
            <if test="dishId != null">and dish_id = #{dishId}</if>
            <if test="dishFlavor != null">and dish_flavor = #{dishFlavor}</if>
        </where>
    </delete>
</mapper>